body {
background-image: url(images/2.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

a {
text-decoration: none


}
li {
list-style-type: none;


}

header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin: 10px;

}

.logo {

font-size: 25px;
color: #000;
margin-left: 20px;
font-weight: 900;
}
nav ul {
display: flex;
flex-direction: row;
}

nav ul li {
margin-left: 5px;
margin-right: 5px;

}
nav ul li a {
display: block;
padding: 10px 20px ;
color: #000
}

nav ul li a:hover {
color: #000;
background-color: darkgrey;
border-radius: 15px;
}


@media (max-width: 74.7mm) { 



    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 2px;
        margin-top: 10px;
        }
        
        .logo {
        
        font-size: 11px;
        color: #000;
        margin-left: 8px;
        font-weight: 900;
        }
        
        nav ul li {
            margin-left: 1px;
            margin-right: 1px;
            
            }
            nav ul li a {
            display: block;
            padding: 3px 6px ;
            color: #000
            ;
            font-size: 9px;
            }
            
        


}





